:root {
    --primary: #25154e;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-content {
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2312%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2313%26quot%3b)'%3e%3c/rect%3e%3cpath d='M522.12 328.48 a183.49 183.49 0 1 0 366.98 0 a183.49 183.49 0 1 0 -366.98 0z' fill='rgba(59%2c 36%2c 122%2c 0.56)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M233.99 514.77 a139.89 139.89 0 1 0 279.78 0 a139.89 139.89 0 1 0 -279.78 0z' fill='rgba(59%2c 36%2c 122%2c 0.56)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1295.07 106.75 a126.31 126.31 0 1 0 252.62 0 a126.31 126.31 0 1 0 -252.62 0z' fill='rgba(59%2c 36%2c 122%2c 0.56)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-1.89 353.04 a132.23 132.23 0 1 0 264.46 0 a132.23 132.23 0 1 0 -264.46 0z' fill='rgba(59%2c 36%2c 122%2c 0.56)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2312'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2313'%3e%3cstop stop-color='rgba(196%2c 158%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(193%2c 132%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.snowflake {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* Generate multiple snowflakes */
.snowflake:nth-child(1) {
    left: 10%;
    animation-duration: 5s;
}

.snowflake:nth-child(2) {
    left: 20%;
    animation-duration: 4s;
    animation-delay: 1s;
}

.snowflake:nth-child(3) {
    left: 30%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.snowflake:nth-child(4) {
    left: 40%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.snowflake:nth-child(5) {
    left: 50%;
    animation-duration: 4s;
}

.snowflake:nth-child(6) {
    left: 60%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.snowflake:nth-child(7) {
    left: 70%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.snowflake:nth-child(8) {
    left: 80%;
    animation-duration: 4s;
}

.snowflake:nth-child(9) {
    left: 90%;
    animation-duration: 6s;
    animation-delay: 2s;
}

/* logo */
.bg-logo {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}
.welcome-title
{
    color: var(--primary);
    font-weight: 700;
}

.main-title
{
    background: linear-gradient(0deg, #631b87, #d90081, #631b87);
    background-size: 200% 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: freshGlow 2s ease infinite;
    -moz-animation: freshGlow 2s ease infinite;
    -o-animation: freshGlow 2s ease infinite;
    animation: freshGlow 2s ease infinite;
    font-weight: 700;
}

@-webkit-keyframes freshGlow {
  0% {
    background-position: 50% 0%
  }
  50% {
    background-position: 50% 100%
  }
  100% {
    background-position: 50% 0%
  }
}

@-moz-keyframes freshGlow {
  0% {
    background-position: 50% 0%
  }
  50% {
    background-position: 50% 100%
  }
  100% {
    background-position: 50% 0%
  }
}

@-o-keyframes freshGlow {
  0% {
    background-position: 50% 0%
  }
  50% {
    background-position: 50% 100%
  }
  100% {
    background-position: 50% 0%
  }
}

@keyframes freshGlow {
  0% {
    background-position: 50% -20%
  }
  50% {
    background-position: 50% 120%
  }
  100% {
    background-position: 50% -20%
  }
}

/* btn 2 */
.button {
    width: 350px;
    padding: 20px 10px;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  .button:hover .wave {
    top: -120px;
  }
  
  .text {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;
  }
  
  .wave {
    width: 350px;
    height: 200px;
    background-color: #78207d;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: -70px;
    transition: 0.4s;
  }
  
  .wave::before, a .wave::after {
    width: 200%;
    height: 200%;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  
  .wave::before {
    border-radius: 45%;
    background-color: var(--primary);
    animation: wave 5s linear infinite;
  }
  
  .wave::after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: wave 10s linear infinite;
  }
  
  @keyframes wave {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
  
    100% {
      transform: translate(-50%, -75%) rotate(300deg);
    }
  }